# `cargo-deny` configuration.

[output]
feature-depth = 1

[advisories]
db-urls = ["https://github.com/rustsec/advisory-db"]
yanked = "deny"
ignore = []

[licenses]
allow = [
  # Permissive open-source licenses
  "MIT",
  "Apache-2.0",
  "Apache-2.0 WITH LLVM-exception",
  "Unicode-3.0",
  "Zlib",
]
confidence-threshold = 0.8

[bans]
multiple-versions = "deny"
wildcards = "deny"
allow-wildcard-paths = true
skip-tree = [
  # Relied upon by `walrus`
  { name = "indexmap", version = "^1" },
  # Relied upon by `wasmtime` crates
  { name = "hashbrown", version = "^0.15" },
  # Relied upon by `clap`
  { name = "windows-sys", version = "^0.60" },
]

[sources]
unknown-registry = "deny"
unknown-git = "deny"
